Options -Indexes

<IfModule mod_rewrite.c>
  RewriteEngine On

  # Laisser passer les fichiers et dossiers existants
  RewriteCond %{REQUEST_FILENAME} -f [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^ - [L]

  # Tout le reste passe par l'index frontal
  RewriteRule ^ index.php [QSA,L]
</IfModule>
